*.sdf
*.suo
*.vcxproj
*.log
*.tlog
*.obj
*.pdb
*.idb
*.exe
*.ilk
*.opensdf
libmocr/Debug
MathOCR/.idea
MathOCR/__pycache__
MathOCR/*.bmp
MathOCR/Win32
MathOCR/MathOCR
MathOCR/packages
libmocr/cvtest/nn
libmocr/NeuralNetworkTrainer/nn
libmocr/packages
libmocr/traindata
libmocr/Test/templates
*.ipch
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.pch
MathOCR/MathOCR/GeneratedFiles/qrc_mathocr.cpp